body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image:
  url("../../resources/images/flatironbackground.png");
}

.nav, p {
  font-size: 18px;
  color: white;
}
